@page "/eventest"
@inject IJSRuntime JS

<PageTitle>Testando Manipulação eventos</PageTitle>

<h1>Manipulando eventos</h1>

<input value=@data @onkeypress="ProcessKeyPress"/>
<button @onclick="Clear" class="btn btn-primary">Clear</button>

@code {
    private string data;

    private async Task ProcessKeyPress(KeyboardEventArgs k){
        if(k.Key == "1234567890"){
            await JS.InvokeVoidAsync("alert","Você precisionou um número !");
        }else{
            data += k.Key.ToUpper();
        }
    }

    private void Clear(){
        data = "";
        JS.InvokeVoidAsync("alert","Imput limpado");
    }

}