@page "/test"
@using POCDatatable.Service.Interface;

@inject ISiconfiAPIService service

<PageTitle>Teste</PageTitle>
<h3>TestDataTable</h3>




@code {
    List<POCDatable.Entity.Entity.Item> items = new();
}
