:root{
    --bg-white: #fff;
    --bg-black: #000;

    --fn-white: #fff;
    --fn-black: #000;

    --btn-color:var(--bg-white);
    --bt-bg: var(--bg-black);
}


body{
    font-family: monospace;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
}

li{
    list-style: circle;
}

.list{
    list-style: square;
}

#msg{
    font-family: monospace;
}

.light-theme{
    color: var(--fn-black);
    background: var(--bg-white);
    --btn-color:var(--bg-white);
    --bt-bg: var(--bg-black);   
}

.dark-theme{
    color: var(--fn-white);
    background: var(--bg-black);
    --bt-bg: var(--bg-black);
    --bt-color: var(--bg-white);
}

.btn{
    color: var(--btn-color);
    background-color: var(--bt-bg);
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 100px;
    border-radius: 10%;
    border: none;
}
