@inherits LayoutComponentBase

<PageTitle>AplicacaoBlazorConsumoAPI-DALLE</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content" style="display:flex; align-content:center; justify-content:center">
            @Body
        </article>
    </main>
</div>
